body {
  margin: 0;
  padding: 0;
}

@for $i from 1 through 10 {
  .mr-#{$i} {
    margin-right: #{$i}px;
  }
  .mt-#{$i} {
    margin-top: #{$i}px;
  }
  .ml-#{$i} {
    margin-left: #{$i}px;
  }
  .mb-#{$i} {
    margin-bottom: #{$i}px;
  }
}

@for $i from 1 through 10 {
  .pr-#{$i} {
    padding-right: #{$i}px;
  }
  .pt-#{$i} {
    padding-top: #{$i}px;
  }
  .pl-#{$i} {
    padding-left: #{$i}px;
  }
  .pb-#{$i} {
    padding-bottom: #{$i}px;
  }
}

@for $i from 1 through 100 {
  .fs-#{$i} {
    font-size: #{$i}px;
  }
}

.fw-b {
  font-weight: bold;
}

.ai-c {
  align-items: center;
}

.ac-c {
  align-content: center;
}

.jc-e {
  justify-content: flex-end;
}

.jc-c {
  justify-content: center;
}

.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}